body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    ul li, ol li {
        margin: 5px; /* Reduced margin for smaller screens */
    }
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 calc(100% - 20px); /* Ensure flex items don't exceed container width */
    max-width: 100%;
}

/***********************************/
pre {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/***********************************/

header {
    text-align: center;
    padding: 1rem;
    background: #af1c1c;
    color: #f4f4f4;}
h2 {
    font-weight: bold;
    color: #af1c1c;}
/***********************************/

ul {
    list-style: none;
    padding: 0;}
ul li {
    display: inline; 
    margin: 10px;}
ul li a {
    color: #fff;
    text-decoration: none;}
/***********************************/

ol {
    list-style: none; /* Remove default numbering */
    padding: 0; /* Remove default padding */ }  
ol li {position: relative; /* Position relative for positioning the pseudo-element */
        padding-left: 20px; /* Space for the circle */ }
ol li::before {
    content: ''; /* Empty content for the circle */
    position: absolute; /* Absolute positioning for the circle */
    left: 0; /* Position it to the left of the list item */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    color: #af1c1c;
    width: 0.5rem; /* Circle diameter */
    height: 0.5rem; /* Circle diameter */
    background-color: #000000; /* Circle color */
    border-radius: 50%; /* Make it a circle */}
 /***********************************/   

main {
    padding: 20px;}
/***********************************/

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    z-index: 1000; }

#backToTop:hover {
    background-color: #af1c1c;}
/***********************************/

  
footer {
    text-align: center;
    padding: 1rem;
    background: #af1c1c;
    color: #fff;
    width: 100%;
    position: relative;}
/***********************************/

* {
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width/height */}

html, body {
    overflow-x: hidden; /* Explicitly prevents any overflow from the body */}
/***********************************/