body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(pics/pic_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 300px;
}

/***********************************/
pre {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/***********************************/

header {
    background: #af1c1c;
    color: #f4f4f4;
    padding: 1rem;
    text-align: center;} 
h2 {
    font-weight: bold;
    color: #af1c1c;}
/***********************************/

ul {
    list-style: none;
    padding: 0;}
ul li {
    display: inline; 
    margin: 10px;}
ul li a {
    color: #fff;
    text-decoration: none;}
/***********************************/

ol {
    list-style: none; /* Remove default numbering */
    padding: 0; /* Remove default padding */ }  
ol li {position: relative; /* Position relative for positioning the pseudo-element */
        padding-left: 20px; /* Space for the circle */ }
ol li::before {
    content: ''; /* Empty content for the circle */
    position: absolute; /* Absolute positioning for the circle */
    left: 0; /* Position it to the left of the list item */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center vertically */
    color: #af1c1c;
    width: 0.5rem; /* Circle diameter */
    height: 0.5rem; /* Circle diameter */
    background-color: #000000; /* Circle color */
    border-radius: 50%; /* Make it a circle */}
 /***********************************/   

main {
    padding: 20px;}
/***********************************/
#backToTop {
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 10px 25px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Hidden initially */
}

#backToTop:hover {
    background-color: #af1c1c;}
/***********************************/

  
footer {
    text-align: center;
    padding: 1rem;
    background: #af1c1c;
    color: #fff;
    width: 100%;
    position: relative;
}
/***********************************/